<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
{% load static widget_tweaks %}
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{ dz_array.public.title }}" />
<meta property="og:title" content="{{ dz_array.public.title }}" />
<meta property="og:description" content="{{ dz_array.public.title }}" />
<meta property="og:image" content="{% static 'mophy/images/notification_logo.png' %}" />
<meta name="format-detection" content="telephone=no">
<title>{{ dz_array.public.title }}</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{% static dz_array.public.favicon %}">

{% load custom_tags %}

{% for cssurl in dz_array.pagelevel.mophy.mophy_views.css|getdata:request.path %}
<link rel="stylesheet" href="{% static cssurl %}" >
{% endfor %}


{% for cssurl in dz_array.global.css %}
<link rel="stylesheet" href="{% static cssurl %}" >
{% endfor %}

</head>

<body class="vh-100">
   
<div class="authincation h-100">
<div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-6">
            <div class="authincation-content" style="background-color: #9472cd;">
                <div class="row no-gutters">
                    <div class="col-xl-12">
                        <div class="auth-form">
                            <div class="text-center mb-3">
                                <img src="{% static 'mophy/images/logo.png' %}" alt="">
                            </div>
                            <h3 class="text-center mb-4 mt-1 text-white">Forgot Password</h3>
                                <div style="display: none;" class="alert alert-danger alert-dismissible fade show" id="error_alert" role="alert">
                                    <strong id="error_message"></strong> 
                                </div>
                                
                                <div style="display: none;" class="alert alert-success alert-dismissible fade show" id="success_alert" role="alert">
                                    <strong id="success_message"></strong> 
                                </div>

                                <div style="display: none;" class="alert alert-success alert-dismissible fade show" id="password_success_alert" role="alert">
                                    <strong id="password_success_message"></strong> 
                                </div>

                                <div class="form-group" id="mobile-form">
                                    <label id="mobile-label" class="text-white"><strong>Mobile</strong></label>
                                    <div class="row" >
                                        <div class="col-3">
                                            <select class="form-control" id="country_code" name="country_code">
                                                <option value="+61">+61</option>
                                                <option value="+64">+64</option>
                                            </select>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" class="form-control" id="mobile" name="mobile" >
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="otp-form">                                  
                                    <label id="otp-label"  class="text-white"><strong>Enter OTP</strong></label>
                                    <input type="text"  class="form-control" id="otp" name="otp" >
                                </div>
                                
                                <div class="form-group" id="password-form">                                  
                                        <label class="form-label text-white">Password</label>
                                        <div class="input-group">
                                            <input class="form-control" type="password" id="password" name="password" id="password" maxlength="25" placeholder="Password" required>
                                            <span class="input-group-text" id="togglePassword"> <i class="fa fa-eye" aria-hidden="true"></i> </span>
                                        </div>
                                        <br>
                                        <label class="form-label text-white">Confirm Password</label> 
                                        <div class="input-group">
                                            <input class="form-control" type="password" id="password2" name="password2" id="confirmPassword" maxlength="25" placeholder="Confirm Password" required>
                                            <span class="input-group-text" id="toggleConfirmPassword"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                        </div>
                                </div>
                                
                                <div class="text-center">                                    
                                    <button type="submit" id="submit" onclick="sendotp()" class="btn bg-white text-primary btn-block">Submit</button>
                                </div>

                                 <div id="login" class="text-center">                                    
                                   <a href="{%url 'mophy:index' %}" ><button class="btn bg-white text-primary btn-block">Login</button></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--**********************************
Scripts
***********************************-->
<!-- Required vendors -->
{% for jsurl in dz_array.global.js.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.pagelevel.mophy.mophy_views.js|getdata:request.path %}
<script src="{% static jsurl %}"></script>
{% endfor %}


{% for jsurl in dz_array.global.js.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
{% endblock %}
</body>



<script>
    regexPattern = /^(?=.*[-\#\$\.\%\&\@\!\+\=\\*])(?=.*[a-zA-Z])(?=.*\d).{8,12}$/;

    $('#mobile').on('click', function () { $('#password').val(''); });
    $('#otp').on('click', function () { $('#password').val(''); });
    $('#password').on('click', function () { $('#otp').val('check_password'); });
    $('#password2').on('click', function () { $('#otp').val('check_password'); });
    $('#password').on('mouseover', function () { $('#otp').val('check_password'); });
    $('#password2').on('mouseover', function () { $('#otp').val('check_password'); });

    $('#mobile-form').show();
    $('#otp-form').hide();
    $('#password-form').hide();
    $('#login').hide();
    $('#submit').show();
    function sendotp(){
        var mobile = $('#mobile').val();
        var country_code = $('#country_code').val();
        var otp = $('#otp').val();
        var password = $('#password').val();
        var password2 = $('#password2').val();
        var error_flag = false;

        if (mobile === null || mobile === ''){
            error_flag = true;
            $('#error_message').html("Please enter mobile");  $('#error_message').parent().show();
            setTimeout(function () { $('#error_message').parent().hide(); }, 3000);
        } 
       
        else if (otp === 'check_password' ){
            if (password === null || password === '' || password2 === null || password2 === ''){
                error_flag = true;
                $('#error_message').html("Please enter Password"); $('#error_message').parent().show();
                setTimeout(function () { $('#error_message').parent().hide();  }, 3000);
            } 
            else if (password.match(regexPattern)){
                if (password !== password2){
                    error_flag = true;
                    $('#error_message').html("Password do not match!"); $('#error_message').parent().show();
                    setTimeout(function () { $('#error_message').parent().hide();  }, 3000);
                } 
            }
            else{
                error_flag = true;
                $('#error_message').html("Password must contain uppercase, lowercase, symbols and digits"); $('#error_message').parent().show();
                setTimeout(function () { $('#error_message').parent().hide();  }, 3000);
            }
        } 
        if (error_flag === false ) {
            $.ajax({
            type: "POST",
            url: "{% url 'mophy:send-reset-password-otp' %}",
            data: {country_code:country_code, mobile:mobile,otp:otp, password:password, csrfmiddlewaretoken: '{{ csrf_token }}'},
            
            success: function(data){
                if(data.success){
                    $('#success_message').html(data.message);
                    $('#success_message').parent().show();
                    setTimeout(function () { $('#success_alert').alert('close');}, 1300);

                    if(data.type == "password"){
                        $('#password-form').show();  $('#mobile-form').hide();  
                        $('#otp-form').hide();  $('#login').hide();
                    }
                    else if(data.type == "updated"){
                        console.log("updated ====")
                        $('#password_success_message').html(data.message); $('#password_success_message').parent().show();                   
                        setTimeout(function () {  $('#password_success_message').alert('close');  }, 5000);  
                        setTimeout(function () { window.location.href = "{% url 'mophy:login'  %}"; }, 3000);
                    }
                    else{
                        $('#mobile-form').hide(); $('#otp-form').show();
                        $('#password-form').hide(); $('#login').hide(); $('#submit').show();
                    }          
                }    
                else{   
                    $('#error_message').html(data.message); $('#error_message').parent().show();
                    if(data.type === 'invalid_mobile'){ $('#mobile-form').show(); }    
                    if(data.type === 'otp'){   
                        $('#error_message').html(data.message); $('#error_message').parent().show();
                        setTimeout(function () { $('#error_message').parent().hide();}, 3000);
                    }
                    else{ setTimeout(()=>{ window.location.reload(); },1200);  }
                    }                                 
            }
            });
        }       
    }


</script>

<script>
$(document).ready(function() {
    $("#togglePassword, #toggleConfirmPassword").on("click", function() {
        var inputField = $(this).prev("input");
        var type = inputField.attr("type") === "password" ? "text" : "password";
        inputField.attr("type", type);
        $(this).find("i").toggleClass("fa-eye fa-eye-slash");
    });
});
</script>
</html>