{% extends 'mophy/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

{% endblock %}

{% block message %}
{% include 'mophy/elements/alert.html' %}
{% endblock %}

{% block content %}

<div class="first-sec">
<div class="top-header">
    <div class="zai-select">
      <div class="heaidng-zai">Confirm Details</div>

    </div>
        <div class="total_money">
            <a href="{% url 'mophy:payout-list' %}" class="btn btn-primary style-button" id="btn33">View All Accounts</a>
            
    </div>
  </div>

  <div class="confirm-payment-row" id="exTab1">

    <div class="col-md-12">
    <div class="card">
    <div class="card-body">

<!-- Start Error and Succes Messages -->
    
<div style="display: none;" class="alert alert-success alert-dismissible fade show" id="alert" role="alert">
    <strong id="success_message"></strong> 
</div>
<!-- End Error and Succes Messages -->

    
        <!-- Start Tab 1 Search Section -->
        <div class="card-header">
            <b>Sender Details</b>
        </div>

        <div class="sender-details">
            <h6 class="card-subtitle mb-2 text-muted">Transaction Account</h6>
            <select onchange="get_wallet_balance('sender')" id="sender_user_id" class="form-control" required>
                <option value="" selected disabled>Choose source account..</option>
                {% for i in senders_list %}
                    <option value={{i.zai_user_id}}>{{i.bank_name}} ({{i.zai_email}})</option>
                {% endfor %}
            </select>
            <p class="card-text sender-balance"></p>


    <!-- End Tab 1 Search Buttons -->
    </div>
    </div>
    </div>
    </div>

    <div style="display: none;" class="alert alert-danger alert-dismissible fade show" id="alert" role="alert">
        <strong id="error_message"></strong> 
    </div>

<!-- Start Tab 1 RA wallet transfers -->
<div class="col-md-12 add-arrow">
 <div class="card">
   <div class="card-body">
        <div class="card-header">
            <b>Receiver Details</b>
        </div>

    <div class="sender-details">
        <h6 class="card-subtitle mb-2 text-muted">Transaction Account</h6>
        <select onchange="get_wallet_balance('receiver')" id="receiver_user_id" class="form-control" required>
            <option value="" selected disabled>Choose destination account..</option>
            {% for i in receivers_list %}
                <option value={{i.zai_user_id}}>{{i.bank_name}} ({{i.zai_email}})</option>
            {% endfor %}
        </select>
        <p class="card-text receiver-balance"></p>


    </div>
   </div>
 </div>
</div>
<!-- End Tab 1 Transsfer 2 -->


<div class="col-md-12">
    <div class="card">
      <div class="card-body">
           <div class="card-header">
               <b>Amount to be Paid AUD</b>
           </div>
   
       <div class="sender-details">
   
           <div class="send-money-action" id="amount_error">
                <div class="d-flex amount">    
                    <input type="number" placeholder="Enter Amount" id="amount" step="1" min="0"/>
                    <label>AUD<label>
                </div>
                <button variant="primary" class="btn btn-primary style-button" onclick="TransferFunds()">Confirm</button>
           <a href="{% url 'mophy:add-payout-account' %}" class="addpayout-user" >
            <img src="/static/mophy/images/adduser11.png">Add Payout Account </a>
            </div>
       </div>
      </div>
    </div>
   </div>

</div>
</div>

<!-- payout confirmation Modal Start -->
<div class="modal fade" id="payout-confirmation" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="align-items-center text-center">
                <img src="/static/mophy/images/payoutconformation.png">
            </div>
                <h3 class="mt-4 text-center">Your Payment was successfull</h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary style-button" data-bs-dismiss="modal" onclick="window.location.reload();">Done</button>
            </div> 
        </div>
    </div>
</div>

<div id="loader" style="display:none" class="loader-overly" ><div class="loader" ></div>

{% endblock %}


{% block additional_js %}

<script>
    function get_wallet_balance(type){
        var zai_user_id = null
        $('#loader').show();
        if (type == 'sender'){
            zai_user_id = $('#sender_user_id').val()      
        }
        else{
            zai_user_id = $('#receiver_user_id').val()      
        }
        $.ajax({
            type: "POST",
            url: "{% url 'mophy:get-zai-wallet' %}",
            data: {zai_user_id: zai_user_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (data) {
                $('#loader').hide();
                if (data.success){
                    if (type == 'sender'){
                        $('.sender-balance').html("AUD "+data.balance);
                    }
                    else{
                        $('.receiver-balance').html("AUD "+data.balance);
                    }
                }
                }
            })
    }
</script>

<script>
    function TransferFunds() {
        var amount = $('#amount').val();
        var AmountInput = $('#amount_error');
        var errorFlag = false;
        var sender_id = $('#sender_user_id').val();
        var receiver_id = $('#receiver_user_id').val();
        var SenderInput = $('#sender_user_id');
        var ReceiverInput = $('#receiver_user_id');

        // Reset any previous errors
        AmountInput.removeClass('is-invalid');
        SenderInput.removeClass('is-invalid');
        ReceiverInput.removeClass('is-invalid');
        $('.invalid-feedback').remove();

        // Validation for sender_id
        if (!sender_id) {
            errorFlag = true;
            SenderInput.addClass('is-invalid');
        }
        if (!receiver_id) {
            errorFlag = true;
            ReceiverInput.addClass('is-invalid');
        }
        if (amount === "" || isNaN(parseInt(amount))) {
            errorFlag = true;
            AmountInput.addClass('is-invalid');
            AmountInput.after('<div id="amount-error" class="invalid-feedback" style="margin-top:-20px;">Please enter a valid amount.</div>');
        } else if (parseInt(amount) < 1) {
            errorFlag = true;
            AmountInput.addClass('is-invalid');
            AmountInput.after('<div id="amount-error" class="invalid-feedback" style="margin-top:-20px;">Amount should be greater than or equal to 1.</div>');
        } else if (isNaN(amount) || amount.toString().includes('.')) {
            errorFlag = true;
            AmountInput.addClass('is-invalid');
            AmountInput.after('<div id="amount-error" class="invalid-feedback" style="margin-top:-20px;">Amount should be a positive integer without decimals.</div>');
        }
        if (!errorFlag) {
            $('#loader').show();
            $.ajax({
                type: "POST",
                url: "{% url 'mophy:ra-payout' %}",
                data: { amount: amount, sender_id: sender_id, receiver_id: receiver_id, csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function (data) {
                    $('#loader').hide();
                    if (data.success) {
                        $('.sender-balance').html(data.sender_balance + " AUD");
                        $('.receiver-balance').html(data.receiver_balance + " AUD");                       
                        setTimeout(function() {
                            $('#payout-confirmation').modal('show');
                        }, 2000);
                        // window.location.reload(); 
                      
                    } else {
                        console.log(data, "data = = = = =  =")
                        // alert(data.message); 
                        $('#error_message').html(data.message);
                        $('#error_message').parent().show();
                        setTimeout(function () { 
                            $('#error_message').parent().hide(); 
                        }, 4000);
                    }
                    document.getElementById('amount').value = '';

                }
            });
        }
    }
    document.getElementById('amount').value = '';
    // Remove invalid class and error message on input
    $('#amount').on('input', function() {
        var AmountInput = $(this);
        AmountInput.removeClass('is-invalid');
        $('#amount-error').remove();
    });
    $('#sender_user_id, #receiver_user_id').on('input change', function() {
        $(this).removeClass('is-invalid');
        $(this).next('.invalid-feedback').remove();
    });
</script>

{% endblock %}

