{% extends 'mophy/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}


<link rel="stylesheet" href="/static/mophy/vendor/datatables/css/jquery.dataTables.min.css" >
<link rel="stylesheet" href="/static/mophy/css/style.css">

<div class="card corridore_card">
    <div class="card-header">
        <h4 class="card-title">Refer Family and Friends</h4>
        <a id="loyality_program_create_btn" href="{% url 'mophy:add-loyality-program' %}" class="btn btn-primary btn-xs content-justify-right">Create New Loyality Program<span class="btn-icon-end">
            <i class="fa fa-plus"></i></span>
        </a>
    </div>
 <div class="card-body">
  <div class="row newlayout-table">
    <div class="col-lg-12">
      <div class="table-hover fs-14 card-table" style="position:relative;">  
        <table class="table dataTablesCard style-1 custom-tbl card-table previous-transactions display" id="example22" style="width: 100% !important;">
            <thead>
                <tr>       
                    <th>S/N</th>
                    <th>Referral Type</th>
                    <th>Reward Amount</th>
                    <th>Status</th>
                    <!-- <th>Start Date</th>
                    <th>End Date</th> -->
                    <th class="loyality_program_th">Action</th>
                </tr>
            </thead>
            <tbody>               
                {% for t in data %}
                <tr class="data-row">
                <td><span class="text-black text-center font-w400 mb-0">{{forloop.counter}}</span></td>
                <td><span class="text-black text-capitalize font-w400 mb-0">{{t.referral_type_id__type}}</span>
                </td>
                {% if t.referral_type_id__type == "invite" or t.referral_type_id__type == "Invite" %}
                  <td>
                      <span class="text-black text-capitalize font-w400 mb-0"><b>Cust A: </b> {{t.currency}} {{t.referred_by_amount}}</span><br>
                      <span class="text-black text-capitalize font-w400 mb-0"><b>Cust B: </b>  {{t.currency}} {{t.referred_to_amount}}</span>
                  </td>
                {% else %}
                  <td><span class="text-black text-capitalize font-w400 mb-0">{{t.currency}} {{t.referred_by_amount}}</span></td>
                {% endif %}
                <td><span class="text-black text-capitalize font-w400 mb-0">{{t.status}}</span></td>
                <!-- <td><span class="text-black text-capitalize font-w400 mb-0">{{t.start_date}}</span></td>
                <td><span class="text-black text-capitalize font-w400 mb-0">{{t.end_date}}</span></td> -->
                <td id="loyality_program_td">
                  <span class="sweetalert" >  
                      <a id="loyality_program_edit_btn" href="{% url 'mophy:edit-loyality-program' id=t.id %}" class="shadow sharp me-1" data-bs-toggle="tooltip"
                          data-placement="top" title="Edit">Edit
                          <!-- <i class="fas fa-pencil-alt"></i> -->
                      </a>            
                      <!-- <a id="loyality_program_delete_btn" href="{% url 'mophy:delete-loyality-program' id=t.id %}" class="btn btn-danger shadow btn-xs sharp sweet-success-cancel" data-bs-toggle="tooltip"
                          data-placement="top" title="Delete"><i class="fa fa-trash"></i>
                      </a> -->
                  </span>
              </td>
                {% endfor %}         
            </tbody>
        </table>  
      </div>
    </div>
  </div>
 </div>
</div>

{% endblock %}
{% block additional_js %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        new DataTable('#example22', {
            scrollX: true,
            scrollCollapse: true,
            scrollY: '530px',
            pageLength: 20,
            fixedHeader: true,
            lengthChange: false,
            responsive: true,
            order: [], // Disable initial sorting
            // columnDefs: [{
            //     targets: '_all', 
            //     orderable: true,
            //     orderData: [0], // Set the order data (adjust index as needed)
            //     orderSequence: ['desc', 'asc'] // Set the order sequence for sorting
            // }]
        });
    });
</script>


<style>
.dataTables_scrollHeadInner{
    width: 100% !important;
}
table.table.dataTablesCard.style-1.custom-tbl.card-table.previous-transactions.display.dataTable.no-footer {
    width: 100% !important;
}
table.table.dataTablesCard.style-1.custom-tbl.card-table.previous-transactions.display.dataTable.no-footer {
    width: 100% !important;
}
</style>

<script>
    $('.sweet-success-cancel').on('click', function (event) {
           event.preventDefault();
           const url = $(this).attr('href');
   
           Swal.fire({
               title: 'Are you sure?',
               text: "You won't be able to revert this!",
               type: "warning",
               icon: 'question',
               showCancelButton: true,
               confirmButtonText: "Yes, delete it !!",
               confirmButtonText: 'Delete',
               confirmButtonColor: "#DD6B55"
               
           }).then((result) => {
               if (result.value) {
                   window.location.href = url;
               } else if (result.dismiss === Swal.DismissReason.cancel) {
                   event.preventDefault();
               }
           })
       });
</script>
   
{% endblock %}

