{% extends 'mophy/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}
 
{% endblock %}


{% block message %}
{% include 'mophy/elements/alert.html' %}
{% endblock %}

{% block content %}
<div style="display: none;" class="alert alert-warning alert-dismissible fade show" id="alert" role="alert">
   <strong id="error_message"></strong> 
</div>

<div style="display: none;" class="alert alert-success alert-dismissible fade show" id="alert" role="alert">
   <strong id="success_message"></strong> 
</div>

<div class="row">
   <div class="col-lg-12">
      <div class="card corridore_card">
         <div class="card-header d-inline-block">
            <h4 class="card-title mb-2">Change Password </h4>
            <p class="m-0">Your new password must be different from previous used passwords. </p>
         </div>
         <div class="card-body form-custom-label">
            <div id="message"></div>
            <form  action="{% url 'mophy:change-password' %}" id="user_perm" method="post"> {% csrf_token %} <div class="row">
              
               <div class="mb-3 col-md-4">
                  <label class="mb-1">Old Password</label>
                  <div class="input-group transparent-append">
                     {{ form.old_password|attr:"class:form-control"|attr:"placeholder:Old Password"|attr:"id:dz-password"|attr:"type:password"|attr:"disabled:true"}}
                     <span class="input-group-text show-pass form-boder-1">
                     <i class="fa fa-eye-slash"></i>
                     <i class="fa fa-eye"></i>
                     </span>
                     <div class="text-danger w-100 d-block mt-1">
                     {{ form.old_password.errors }}
                     </div>
                  </div>
               </div>
               <div class="mb-3 col-md-4">
                  <label class="mb-1">New Password</label>
                  <div class="input-group transparent-append">
                     {{ form.new_password1|attr:"class:form-control"|attr:"placeholder:New Password"|attr:"id:dz-con-password"|attr:"type:password"|attr:"disabled:true"}}
                     <span class="input-group-text show-con-pass form-boder-1">
                     <i class="fa fa-eye-slash"></i>
                     <i class="fa fa-eye"></i>
                     </span>
                     <div class="text-danger w-100 d-block mt-1">
                     {{ form.new_password1.errors }}
                     </div>
                  </div>
               </div>
               <div class="mb-3 col-md-4">
                  <label class="mb-1">Confirm Password</label>
                  <div class="input-group transparent-append">
                     {{ form.new_password2|attr:"class:form-control"|attr:"placeholder:Confirm Password"|attr:"id:dz-old-password"|attr:"type:password"|attr:"disabled:true"}}
                     <span class="input-group-text show-old-pass form-boder-1">
                     <i class="fa fa-eye-slash"></i>
                     <i class="fa fa-eye"></i>
                     </span>
                     <div class="text-danger w-100 d-block mt-1">
                     {{ form.new_password2.errors }}
                     </div>
                  </div>
                 
               </div>

                <div class="mb-3 col-md-6" id="enter_otp" style="display: none;">
               <label class="mb-1">Enter Otp</label>
            <div class="input-group transparent-append">
               <input class="form-control" type="text" maxlength="6" id="otp" />
               

               </div>
            </div>

             
               <div class="d-flex justify-content-end">
                  <button type="button" id="send-otp"  class="btn sweet-html btn-primary style-button" style="margin-right:15px;">Send Otp</button>
                  <button type="button" id="verify-otp" style="display: none;"  class="btn sweet-html btn-primary style-button">Verify Otp</button>
                  <button type="submit" id="change_password"  style="display: none;" class="btn sweet-html btn-primary style-button">Change Password</button>
                  <!--button type="submit" id="submit_password_button" style="display: none;">Submit</button-->
               </div>
            </form>

           
         </div>   
      </div>
   </div>
</div>

{% endblock %}

{% block additional_js %}


<script>

function validatePassword(){
   var oldpassword = $("#dzpassword").val();
   var newpassword = $("#dz-con-password").val();
   var confirmpassword = $("#dz-old-password").val();
   if(oldpassword=="" || newpassword=="" || confirmpassword==""){
      return false;
   }
   
}
   $("#send-otp").click(function (el) {
      $('#enter_otp').show();
      $("#dz-password").attr("disabled",true);
      $("#dz-con-password").attr("disabled",true);
      $("#dz-old-password").attr("disabled",true);
      $("#change_password").hide();
      var milliseconds = 3000;

      $.ajax({
           type: "POST",
           url: "{% url 'mophy:send_otp' %}",
           data: {
             csrfmiddlewaretoken: "{{ csrf_token }}",
           },
           success: function (data) {
            if(data.success){
               $("#verify-otp").show();
               $("#success_message").html(data.message);
               $("#success_message").parent().show();

               setTimeout(function () {
               $('#success_message').parent().hide();
            }, milliseconds);
            }
          else{
            $("#error_message").html(data.message);
            $("#error_message").parent().show();

            setTimeout(function () {
               $('#error_message').parent().hide();
            }, milliseconds);
         }
          }
         })
      });

      $("#verify-otp").click(function (el) {
         var otp = $("#otp").val();
      $.ajax({
           type: "POST",
           url: "{% url 'mophy:send_otp' %}",
           data: {
             csrfmiddlewaretoken: "{{ csrf_token }}",
             otp:otp
           },
           success: function (data) {
          if(data.success){
            $("#change_password").show();
            $("#verify-otp").hide();
            $("#send-otp").hide();
            $("#dz-password").attr("disabled",false);
            $("#dz-con-password").attr("disabled",false);
            $("#dz-old-password").attr("disabled",false);
            
            $("#success_message").html(data.message);
            $("#success_message").parent().show();

            setTimeout(function () {
               $('#success_message').parent().hide();
            }, milliseconds);
          }
          else{
            $("#change_password").hide();
            $("#error_message").html(data.message);
            $("#error_message").parent().show();


            setTimeout(function () {
               $('#error_message').parent().hide();
            }, milliseconds);

          }
           },
         })
      });

   
 </script>
 

{% endblock %}