{% extends 'mophy/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

{% endblock %}

{% block message %}
{% include 'mophy/elements/alert.html' %}
{% endblock %}

{% block content %}
<div class="form-head mb-4">
   <h1 class="text-black font-w600 mb-0">Stripe Credentials</h1>
   </div>
<!-- NEW COMMENT STARTED -->
<div class="row justify-content-center h-100 align-items-center">
<div class="col-xl-12 col-lg-12">
<div class="card">

<div class="card-body">
<div class="basic-form">
<form  method="post" enctype="multipart/form-data" novalidate autocomplete="off">
{% csrf_token %}


<div class="row col-md-12">
   <div class="mb-3 col-md-4">
      <label class="form-label">Publish Key</label>
      {% if form.publish_key.value %}
         {{ form.publish_key|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:publish_key" }}
      {% else %}
         {{ form.publish_key|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:" }}
      {% endif %}
      </div>

   <div class="mb-3 col-md-4">
      <label class="form-label">Secret Key</label>
      {% if form.secret_key.value %}
        {{ form.secret_key|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:secret_key" }}
      {% else %}
        {{ form.secret_key|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:" }}
      {% endif %}
    </div>

   <div class="mb-3 col-md-4">
      <label class="form-label">URL</label>
      {% if form.url.value %}
         {{ form.url|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:url" }}
      {% else %}
         {{ form.url|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:" }}
      {% endif %}

   </div>
</div>


<div class="row col-md-12">
      <div class="mb-3 col-md-6">
      <label class="form-label">Mode</label>
      {% if form.mode.value %}
         {{ form.mode|attr:"type:mode"|attr:"class:form-control"|attr:"placeholder:mode" }}
      {% else %}
         {{ form.mode|attr:"type:mode"|attr:"class:form-control"|attr:"placeholder:" }}
      {% endif %}

      </div>
   
      <div class="mb-3 col-md-6">
         <label class="form-label">Status</label>
         {% if form.status.value %}
            {{ form.status|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:status" }} 
         {% else %}
            {{ form.status|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:" }} 
         {% endif %}
         </div> 
        
</div>
<!-- NEW COMMENT ENDED -->

<!-- <div class="row col-md-12">
   
   <div class="mb-3 col-md-6 custom-user">
      <label class="form-label">Gender </label>
      {% if form.Gender.value %}
         {{ form.Gender|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Gender" }} 
      {% else %}
         {{ form.Gender|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:" }} 
      {% endif %}
   </div>


   <div class="mb-3 col-md-6 custom-date-picker">
      <label class="form-label">Date of Birth</label>
         {{ form.Date_of_birth|attr:"class:form-control"|attr:"type:date"}} 
   </div>
</div> -->

 
<div class="row-col-md-6">
<button type="submit" class="btn btn-primary mt-4 mb-5 ">Save</button>

<a href="{% url 'mophy:stripe' %}" class="btn btn-primary mt-4 mb-5">Cancel</a>

</div>
</form>
</div>
</div>
</div>
</div>
</div>



{% endblock %}


{% block additional_js %}

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script> -->

{% endblock %}

