<!DOCTYPE html>
<html>
<head>
<title>ForgotPassword</title>
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:auto!important;margin:0;padding:0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<center>
<table align="center" cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:600px;min-width:600px;margin:0 auto;padding:0">
<tbody>
<tr>
<td width="600" style="outline:none;width:600px;min-width:600px;margin:0;padding:0" align="left" valign="top">
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0 auto;padding:50px 0px 0px" align="left" valign="top">
<a href="#" target="_blank">
    <!-- Logo -->
<img src="{{data.Logo}}" align="center" border="0" width="56" style="outline:none;display:block;height:auto;line-height:100%;text-decoration:none;width:224px!important;margin:0 auto;padding:0;border-style:none" class="CToWUd" data-bit="iit">
</a>
</td>
</tr>
<tr>
<td style="outline:none;width:100%;margin:0 auto;padding:50px 0px 0px" align="left" valign="top">
<a href="#" target="_blank">
    <!-- OTP image -->
<img src="{{data.OTP}}" align="center" border="0" width="56" style="outline:none;display:block;height:auto;line-height:100%;text-decoration:none;width:300px!important;margin:0 auto;padding:0;border-style:none" class="CToWUd" data-bit="iit">
</a>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0;padding:0" align="left" valign="top">
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0;padding:0" align="left" valign="top">
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0">
<tbody>
<tr>
<td style="outline:none;width:100%;color:#17181a; font-family:'Montserrat' !important; font-size:26px;font-style:normal;font-weight:normal;line-height:30px;word-spacing:0;margin:0;padding:60px 120px 0" align="center" valign="top"> Your Code is : {{otp}}</td>
</tr>

<tr>
<td style="outline:none;width:100%;color:#797c7f;font-family:'Montserrat' !important;font-size:16px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0;padding:50px 80px 0" align="left" valign="top">
<p style="outline:none;margin:0;padding:0;text-align:center;">Use above code to reset your password.</p>
<p style="outline:none;margin:2em 0 0;padding:0; ">This code will be active for 15 minutes. If you don't enter it on the WidophRemit page you just visited within that time, you can resend it from your Signup.</p>
<p style="outline:none;margin:2em 0 0;padding:0">If you don't recognize or expect this email, you can always report suspicious behaviour to our support team.</p>
</td>
</tr>
<tr></tr>
<tr>
<td style="outline:none;width:100%;color:#17181a;font-family:'Montserrat' !important;font-size:18px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0;padding:50px 80px" align="left" valign="top"> WidophRemit Team </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0">
<tbody>
<tr>
<td style="outline:none;width:100%;color:#919599;font-family:'Montserrat' !important;font-size:12px;font-style:normal;font-weight:normal;line-height:16px;word-spacing:0;margin:0;padding:30px 150px 50px" align="center" bgcolor="#2F007E" valign="top">
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0;padding:0" align="left" valign="top">
<center>
<table align="center" cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:auto;margin:0 auto;padding:0">
<tbody>
<tr>
<td style="outline:none;width:100%;height:auto;margin:0;padding:0 0 2em" align="left" valign="top">
<a href="#" target="_blank">
    <!-- Footer -->
<img src="{{data.Footer}}" alt="Click 'Download images' to view images" align="center" border="0" width="42" style="outline:none;display:block;height:auto;line-height:100%;text-decoration:none;width:50px!important;margin:0;padding:0;border-style:none" class="CToWUd" data-bit="iit">
</a>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</tbody>
</table>
<div style="margin-bottom:35px;font-size:16px;color:#ffffff;line-height:22px">
<p style="outline:none;margin:0;padding:0">Our vission and mission statement will go here.</p>
</div>
<p style="outline:none;margin:0;padding:0;font-size: 14px;">service@widophremit.com</p>
<p style="outline:none;margin:0;padding:0;font-size: 14px;">+66 2399 1145</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</tbody>
</table>
</body>
</html>