<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      @import url("http://fonts.cdnfonts.com/css/pf-din-text-cond-pro-medium");
      @import url("http://fonts.cdnfonts.com/css/pf-din-text-comp-pro-light");
      @import url("http://db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir+Medium");
    </style>
  </head>

  <body style="margin: 0; padding: 0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table
          bgcolor="#fff2f1"
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="600"
            style="border-collapse: collapse"
          >
            <tr>
              <td align="center" style="padding-top: 50px; padding-bottom:0px;">
                <!-- <img src = "https://api.gormefoods.com/media/email_template/logo_uYX8kGI.png"> -->
                <img src="{{data.Verify_Email_Logo}}" alt="top img" style="display: block; width: 100px;" />
              </td>
            </tr>
            <tr>
              <td
                style="
                  text-align: center;
                    font-size: 16px;
                    color: #191970;
                    padding-right: 56px;
                    padding-left: 56px;
                    font-family: Arial,helvetica,sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 24px;
                "> 

                <p style="text-align: left; margin-top: 20px;">Dear {{customer_name}},</p>
                  <p style="text-align: left; margin-top: 2em; line-height: 24px;">Thank you for choosing us to transfer your funds. Please find below your transaction confirmation:
                </p>
                 
              
                <p style="text-align: left; margin-top: 2em; line-height: 24px;" >If you have any questions or concerns regarding this transaction or would like further details, please do not hesitate to contact our support team at <a style="color:#191970;font-weight: 600;" href={{support}}>support center.</a> We are here to assist serve you.</p>
                
                    <p style="text-align: left; margin-top: 2em; line-height: 24px;">You can also <a style="color:#191970;font-weight: 600;" href={{login}}>login</a> to your account on our website to view the transaction details and monitor your account activity
                    </p>

                    <h4 style=" padding: 5px;background: #ebe0df;  line-height: 30px;text-align: left; font-size: 16px; margin: 0;color: #191970; padding-top: 5px;padding-bottom: 5px; margin-top: 2em; "  >
                    WidophRemit Transaction Confirmation
                </h4>
              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 0px; margin-bottom: 32px; text-align: left;">
                
              <tr style="background: #cccccc38;">
                <th style="width: 40%; padding: 5px">Customer Name</th>
                <td>{{customer_name}} </td>
              </tr>

              <tr style="background: #cccccc38;">
                <th style="width: 40%; padding: 5px">Transaction ID</th>
                <td>{{transaction.transaction_id}} </td>
              </tr>

              <tr style="background: #cccccc38;">
                <th style="width: 40%; padding: 5px">Transaction Date</th>
                <td>{{date}} </td>
              </tr>

              <tr style="background: #cccccc38;">
                <th style="width: 40%; padding: 5px">Transaction Status</th>
                <td>Payment Received</td>
              </tr>

              <tr style="background: #cccccc38;">
                <th style="width: 40%; padding: 5px">Foreign Currency Amount</th>
                <td class="comma-values">{{transaction.receive_currency}} {{transaction.receive_amount}}</td>
              </tr>

              <tr style="background: #cccccc38;">
                  <th style="width: 40%; padding: 5px">FX Rate</th>
                  <td class="comma-values">{{transaction.exchange_rate}}</td>
              </tr>
              {% if data.discount_amount != "0.0000" and data.discount_amount != None and data.discount_amount != "0" %}
              <tr style="background: #cccccc38;">
                  <th style="width: 40%; padding: 5px">Amount to Send <th>
                  <td class="comma-values">{{transaction.send_currency}} {{transaction.total_amount}}</td>
                </tr>
                <tr style="background: #cccccc38;">
                  <th style="width: 40%; padding: 5px">Discount Amount</th>
                  <td class="comma-values">{{transaction.send_currency}} {{transaction.discount_amount}}</td>
                </tr>
              {% endif %}
              <tr style="background: #cccccc38;">
                <th style="width: 40%; padding: 5px">AUD Cost</th>
                <td class="comma-values">{{transaction.send_currency}} {{transaction.amount}}</td>
              </tr>

            <tr style="background: #cccccc38;">
              <th style="width: 40%; padding: 5px">Beneficiary Name</th>
              <td>{{recipient_name}}</td>
            </tr>
            
            <tr style="background: #cccccc38;">
              <th style="width: 40%; padding: 5px">Beneficiary Bank</th>
              <td>{{recipient_bank}}</td>
            </tr>

                </table></br>

                  <p style="text-align: left;">
                    Next Steps: </p>
                    <ul style="text-align: left; padding-left: 15px; list-style-type: auto;"><li>We will payout to your nominated beneficiary.</li>
                      <li>We will confirm once funds are deposited in your beneficiary’s account.</li></ul>
                  
                    <p style=" text-align: left; margin-top: 2em;">Please <a style="color:#191970;font-weight: 600;" href={{support}}>contact us </a>should you have any questions. Our <a style="color:#191970;font-weight: 600;" href={{support}}>Support Center</a> is available 24/7 to serve you.</p>
                   
                    <p style="text-align: left; margin-top: 2em;"> Thank you for choosing <a href={{remitassure}} style="color:#191970" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://widophremit.com/&amp;source=gmail&amp;ust=1695993819760000&amp;usg=AOvVaw1P2aXihkj121IyTNbykLmB"><b>WidophRemit</b></a> for your financial needs. We appreciate your trust in us.</p>
                
                  <p style="text-align: left; margin-bottom: 20px; margin-top: 2em;"><b>WidophRemit Customer Management</b></p>
              </td>
            </tr> 
            <tr>
              <td
                style="
                  font-family: 'Avenir Medium', sans-serif;
                  font-size: 11px;
                  color: white;
                  text-align: center;
                "
              >
                <table bgcolor="#6414e9" width="100%" style="padding: 44px 50px 30px">
                  <tr>
                    <td>
                      <div style="font-size:11px;color:#ffffff;line-height:20px">
                        <p style="margin-top: 0; margin-bottom: 13px; outline:none;padding:0; font-family: Arial,helvetica,sans-serif;">WidophRemit Solutions PTY LTD (ACN 646058433)<br>
                        WidophRemit is registered and regulated by AUSTRAC under the AML/CTF Act 2006 of Australia<br> with registration number: IND100729095-001
                        
                        </p>
                        </div>
                        <div class="social-links mt-3">
                          <a class="twitter" target="_blank" href="https://twitter.com/remitassure">
                          <img src="{{data.Twitter}}" style="width: 30px; margin: 5px;">
                          </a>
                            
                          <a class="facebook" target="_blank" href="https://www.facebook.com/remitassure">
                          <img src="{{data.Facebook}}" style="width: 30px; margin: 5px;">
                          </a>
                          
                          <a class="instagram" target="_blank" href="https://www.instagram.com/media.remitassure/">
                           <img src="{{data.Instagram}}" style="width: 30px; margin: 5px;"> 
                          </a>
                          
                          <a class="linkedin" target="_blank" href="https://www.linkedin.com/company/remitassure/">
                            <img src="{{data.Linkedin}}" style="width: 30px; margin: 5px;">
                          </a></div>
                    </td>
                  </tr>
                  <!-- space -->
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>

<script>
  const elements = document.querySelectorAll('.comma-values');
  elements.forEach(element => {
      const originalValue = parseFloat(element.textContent.match(/\d+/)[0]);
      const formattedValue = originalValue.toLocaleString();
      element.textContent = element.textContent.replace(/\d+/, formattedValue);
  });
</script>