<!DOCTYPE html>
<html>

<head>
<title>Welcome</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0"
style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:auto!important;margin:0;padding:0; background: #fff;"
bgcolor="#fff4f2">
<tbody>
<tr>
<td>
<center>
<table align="center" cellspacing="0" cellpadding="0" border="0"
style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:600px;min-width:600px;margin:0 auto;padding:0">
<tbody>
<tr>
<td width="600" style="outline:none;width:600px;min-width:600px;margin:0;padding:0" align="left"
valign="top">
<table cellspacing="0" cellpadding="0" border="0"
style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0"
bgcolor="#fff4f2">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0 auto;padding:50px 0px 0px" align="left"
valign="top">
<a href="#" target="_blank">
<!-- Logo -->
<img src="{{data.Verify_Email_Logo}}" align="center" border="0" width="56"
style="outline:none;display:block;height:auto;line-height:100%;text-decoration:none;width:100px!important;margin:0 auto;padding:0;border-style:none; margin-bottom: 20px;"
class="CToWUd" data-bit="iit">
</a>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0"
style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0"
bgcolor="#ffffff">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0;padding:0" align="left" valign="top">
<table class="test" cellspacing="0" cellpadding="0" border="0"
style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0;     background: #fff4f2">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0;padding:0" align="left" valign="top">
<table cellspacing="0" cellpadding="0" border="0"
  style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0">
  <tbody>
  <tr>
      <td
        style="outline:none;width:100%;color:#191970;font-family: Arial,helvetica,sans-serif;font-size:16px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0;padding:0px 56px 0"
        align="left" valign="top">
		     <p style="outline:none;margin:0;padding:0">Hi,</p>
        <p style="outline:none;margin:0;padding:0; margin:1em 0 0;">Thank you for signing up with WidophRemit. We are delighted that you have chosen us. Our platform was purpose-built to provide an easy, seamless and secure money
						transfer experience. We can’t wait to serve you.</p>
        <!-- <p style="outline:none;margin:0;padding:0">This code will be active for {{expire_time}}. If you don't enter it on the WidophRemit page you just visited within that time, you can resend it from your Signup.</p> -->

      </td>
  </tr>
    <tr>
      <td
        style="float:left; outline:none;width:100%; margin-top: 20px;color:#191970; font-family: Arial,helvetica,sans-serif; font-size:16px;font-style:normal;font-weight:normal;line-height:30px;word-spacing:0;padding: 0px 56px 0;"
        align="left;" valign="top">To get started, please click on the following link to:<br> </td>
		<td style="float:left; text-align: center; outline:none;width:100%; margin-top: 0px;color:#191970; font-family: Arial,helvetica,sans-serif; font-size:16px;font-style:normal;font-weight:normal;line-height:30px;word-spacing:0;padding: 15px 0px 0;">
		<a style="text-align:center; color: #191970;font-weight: 600;" href={{otp}}>Verify Your Email Address</a> </td>
    </tr>
    <tr>

    </tr>	
    <tr>
      <td
        style="outline:none;width:100%;color:#191970;font-family: Arial,helvetica,sans-serif;font-size:16px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0;padding:20px 56px 0"
        align="left" valign="top">
        <p style="outline:none;margin:0;padding:0">If you didn’t sign-up an account with us, please <a style="color:#191970;font-weight: 600;" href="https://widophremit.com/help">contact us  </a> to report any suspicious activity. 
        </p>
        <!-- <p style="outline:none;margin:0;padding:0">This code will be active for {{expire_time}}. If you don't enter it on the WidophRemit page you just visited within that time, you can resend it from your Signup.</p> -->
        <p style="outline:none;margin:2em 0 0;padding:0">Best Regards,</p>
		<p style="outline:none;width:100%;color:#191970;font-family: Arial,helvetica,sans-serif;font-size:16px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0;padding:10px 0px 20px;"
        align="left" valign="top"> WidophRemit Customer Management
</p>
      </td>
    </tr>
	    <tr></tr>
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0"
style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0">
<tbody>
<tr>
<td
style="outline:none;width:100%;color:#919599;font-family: Arial,helvetica,sans-serif;font-size:11px;font-style:normal;font-weight:normal;line-height:16px;word-spacing:0;margin:0;padding:44px 50px 30px"
align="center" bgcolor="#6414e9" valign="top">
<table cellspacing="0" cellpadding="0" border="0"
    style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:auto;margin:0 auto;padding:0; width: 100%;">
 <tbody>
     <!--  <tr>
	  <td style="text-align: center"><a style="color: #f1f3f4;font-weight: 600;" href="https://widophremit.com/help">Support Center</td>
	  <td style="text-align: center"><a style="color: #f1f3f4;font-weight: 600;" href="https://widophremit.com/">Home</td>
	  <td style="text-align: center"><a style="color: #f1f3f4;font-weight: 600;" href="https://widophremit.com/">Unsubscribe</td>
	  </tr> -->
 </tbody>	  
</table>
</br>
<div style="font-size:11px;color:#ffffff;line-height:20px">
<p style="    margin-top: 0; margin-bottom: 13px; outline:none;padding:0; font-family: Arial,helvetica,sans-serif;">WidophRemit Solutions PTY LTD (ACN 646058433)<br>
WidophRemit is registered and regulated by AUSTRAC under the AML/CTF Act 2006 of Australia with registration number: IND100729095-001

</p>
</div>

<div class="social-links mt-3" id="social-media">
  <a class="twitter" target="_blank" href="https://twitter.com/remitassure" style="display: inline-block !important;">
  <img src="{{data.Twitter}}" style="width: 30px; margin: 5px;">
  </a>
    
  <a class="facebook" target="_blank" href="https://www.facebook.com/remitassure" style="display: inline-block !important;">
  <img src="{{data.Facebook}}" style="width: 30px; margin: 5px;">
  </a>
  
  <a class="instagram" target="_blank" href="https://www.instagram.com/media.remitassure/" style="display: inline-block !important;">
   <img src="{{data.Instagram}}" style="width: 30px; margin: 5px;"> 
  </a>
  
  <a class="linkedin" target="_blank" href="https://www.linkedin.com/company/remitassure/" style="display: inline-block !important;">
    <img src="{{data.Linkedin}}" style="width: 30px; margin: 5px;">
  </a>
</div>
<!-- <p style="outline:none;margin:0;padding:0;font-size: 14px; color: #fff;">crm@remitassure.com</p>
<p style="outline:none;margin:0;padding:0;font-size: 14px; color: #fff;">+1300 284 228</p> -->
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</tbody>
</table>
</body>

</html>
<style>
.social-links.mt-3 a i {
    color: #fff;
    font-size: 20px;
    margin: 10px;
}
</style>