

<!DOCTYPE html>

<html>
<head>
<title>Welcome</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:auto!important;margin:0;padding:0" bgcolor="#ffffff">
<tbody>
<tr>
<td>
<center>
<table align="center" cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:600px;min-width:600px;margin:0 auto;padding:0">
<tbody>
<tr>
<td width="600" style="outline:none;width:600px;min-width:600px;margin:0;padding:0" align="left" valign="top">
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0" bgcolor="#fff4f2">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0 auto;padding:50px 0px 0px" align="left" valign="top">
<a href="#" target="_blank">
<!-- Logo  -->
<img src="{{data.Verify_Email_Logo}}" align="center" border="0" width="56" style="outline:none;display:block;height:auto;line-height:100%;text-decoration:none;width:100px!important;margin:0 auto;padding:0;border-style:none" class="CToWUd" data-bit="iit">
</a>
</td>
</tr>
<tr>
<td style="outline:none;width:100%;margin:0 auto;padding:20px 0px 0px" align="left" valign="top">
<a href="#" target="_blank">
<!-- Image 01 or welcome email template -->
<img src="{{data.Welcome}}" align="center" border="0" width="56" style="outline:none;display:block;height:auto;line-height:100%;text-decoration:none;width:415px!important;margin:0 auto;padding:0;border-style:none" class="CToWUd" data-bit="iit">
</a>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0;padding:0" align="left" valign="top">
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0">
<tbody>
<tr>
<td style="outline:none;width:100%;margin:0;padding:0" align="left" valign="top">
<table cellspacing="0" cellpadding="0" border="0" style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0;     background: #fff4f2;">
<tbody>
<tr>
<td style="outline:none;width:100%;color:#191970; font-family: Arial,helvetica,sans-serif; font-size:38px;font-style:normal;font-weight:normal;line-height:30px;word-spacing:0;margin:0;padding:60px 0 0px" align="center" valign="top"> Welcome to WidophRemit </td>
</tr>
<tr>
<!-- <td style="outline:none;width:100%;color:#191970; font-family: Arial,helvetica,sans-serif; font-size:24px;font-style:normal;font-weight:normal;line-height:30px;word-spacing:0;margin:0;padding:28px 56px 0px;text-align: left;" align="center" valign="top"> We’re here to help you send money home 24/7. </td> -->
</tr>
<tr>
<td style="outline:none;width:100%;color:#191970;font-family: Arial,helvetica,sans-serif;font-size:16px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0; padding:20px 56px 0px" align="left" valign="top">
<p style="outline:none;    margin-top: 0; margin-bottom: 15px;padding:0">Hi,</p>
<p style="outline:none;margin:0;padding:0;text-align: justify;">I'm so delighted to welcome you to <a href="{{remitassure}}" style="color:#191970;"><b>WidophRemit.</b></a> I migrated to Australia in 2001 to study and have evolved to calling it my second home. Through the years, I’ve had to send money back to Africa for different purposes. I never seemed to understand why it was such an arduous undertaking. It took way to long and certainly was very expensive. 
</p>
<p style="outline:none;margin:2em 0 0;padding:0;text-align: justify;">Our team has dedicated years of hard work to create a platform that offers a seamless, secure, and affordable payment experience. As pioneers in <a href="{{remitassure}}" style="color:#191970;"><b>Remittance 2.0</b></a>, we are leading the way in disrupting the industry.
</p>
<p style="outline:none;margin:2em 0 0;padding:0;text-align: justify;">Together, we are embarking on an incredible journey, and I personally invite you to join our exclusive circle of early adopters. Your invaluable experience and insights will help shape <a href="{{remitassure}}" style="color: #191970;"><b>WidophRemit</b></a> into the ultimate platform for smooth, secure, and affordable payment experiences. By being an early adopter, you have the opportunity to be at the forefront of this groundbreaking evolution, paving the way for a future where remittances are faster, safer, and more accessible than ever before. 
</p>
<p style="outline:none;margin:2em 0 0;padding:0;text-align: justify;">Welcome aboard <a href="{{remitassure}}" style="color:#191970;"><b>WidophRemit!</b></a> Explore our world of seamless, secure, and affordable payment experience by visiting our website: <a href="{{remitassure}}" style="color:#191970;"><b>widophremit.com</b></a>
</p>
</td>
</tr>
<tr>
<td style="outline:none;width:100%;color:#191970;font-family: Arial,helvetica,sans-serif;font-size:16px;font-style:normal;font-weight:800;line-height:24px;word-spacing:0;margin:0; padding:35px 56px 0px;" align="center" valign="top">
<p style="outline:none;margin:0;padding:0"><a href="{{remitassure}}" style="width: 160px;background: #fd696c;border-radius: 10px;text-align: center;color:#fff;display: block;padding: 10px;text-decoration: none;">Get Started</a></p>
</td>
</tr>
<tr>
<td style="outline:none;width:100%;color:#191970;font-family: Arial,helvetica,sans-serif;font-size:16px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0; padding:35px 56px 20px;" align="left" valign="top">
<p style="outline:none;margin:0;padding:0;font-weight:bold;font-size:16px;color:#191970;">Obi Orji-Ukabiala</p>
<p style="outline:none;margin:0;padding:0">Founder WidophRemit</p>
</td>
</tr>

<!-- <tr>
<td style="outline:none;width:100%;color:ffffff;font-family: Arial,helvetica,sans-serif;font-size:18px;font-style:normal;font-weight:normal;line-height:24px;word-spacing:0;margin:0;padding:50px 80px" align="left" valign="top"> WidophRemit Team </td>
</tr> -->
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0"
style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;margin:0;padding:0">
<tbody>
<tr>
<td
style="outline:none;width:100%;color:#919599;font-family: Arial,helvetica,sans-serif;font-size:16px;font-style:normal;font-weight:normal;line-height:16px;word-spacing:0;margin:0;padding:44px 50px 30px"
align="center" bgcolor="#6414e9" valign="top">
<table cellspacing="0" cellpadding="0" border="0"
    style="outline:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:auto;margin:0 auto;padding:0; width: 100%;">
 <tbody>
      <!-- <tr>
	  <td style="text-align: center"><a style="color: #f1f3f4;font-weight: 600;" href="{{support}}">Support Center</td>
	  <td style="text-align: center"><a style="color: #f1f3f4;font-weight: 600;" href="{{home}}">Home</td>
	  <td style="text-align: center"><a style="color: #f1f3f4;font-weight: 600;" href="{{unsubscribe}}">Unsubscribe</td>
	  </tr> -->
 </tbody>	  
</table>
</br>
<div style="font-size:11px;color:#ffffff;line-height:20px">
  <p style="margin-top: 0; margin-bottom: 13px; outline:none;padding:0; font-family: Arial,helvetica,sans-serif;">WidophRemit Solutions PTY LTD (ACN 646058433)<br>
  WidophRemit is registered and regulated by AUSTRAC under the AML/CTF Act 2006 of Australia<br> with registration number: IND100729095-001
  </p>
  </div>

  <div class="social-links mt-3" id="social-media">
    <a class="twitter" target="_blank" href="https://twitter.com/remitassure" style="display: inline-block !important;">
    <img src="{{data.Twitter}}" style="width: 30px; margin: 5px;">
    </a>
      
    <a class="facebook" target="_blank" href="https://www.facebook.com/remitassure" style="display: inline-block !important;">
    <img src="{{data.Facebook}}" style="width: 30px; margin: 5px;">
    </a>
    
    <a class="instagram" target="_blank" href="https://www.instagram.com/media.remitassure/" style="display: inline-block !important;">
     <img src="{{data.Instagram}}" style="width: 30px; margin: 5px;"> 
    </a>
    
    <a class="linkedin" target="_blank" href="https://www.linkedin.com/company/remitassure/" style="display: inline-block !important;">
      <img src="{{data.Linkedin}}" style="width: 30px; margin: 5px;">
    </a>
  </div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</tbody>
</table>
</body>
</html>
<style>
.social-links.mt-3 a i {
    color: #fff;
    font-size: 20px;
    margin: 10px;
}
</style>